#dropdown-content{
    display: none;
}
#dropdown:hover #dropdown-content {
    display: block;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 20px;
    

}
#dropdown{
    position: absolute;
}
#dropdown-content li{
  text-align: center;
}
#red{
    background-color: red;
}
.name{
    width: 30%;
    height: 300px;
    background-color: red;
}
.name1{
    width: 30%;
    height: 300px;
    background-color: blue;
}
.name2{
    width: 30%;
    height: 300px;
    background-color: purple;
}